*{
    margin: 0%;
    padding: 0;
}

.top_banner{
    background-color: #4EA0FF;
    background-image: url(./img/pattern.png); 
    background-size: contain;
}
#logo_banner{
    width: 150px;
}

img{
    max-width: 100%;
    margin: 0.10rem;
}
.titolo{
    margin-top: 20px;
    margin-bottom: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text{
    color: #A0A0A0;
    }
 .minimal{
    font-size: small;
 }   

 #boolean{
    color:#4EA0FF;
}

.space{
    margin: 2rem 0 ;
}
.lista{
    padding-left: 1.30rem;
}   

p>span{
 background-color: yellow;
 padding: 1px;
}

thead{
    background-color: #4EA0FF;
    color: white;
}


   
   
